@import './nullstyle.scss';
@import './addition.scss';



/*!--Шапка сайта--start--!*/

.site__header {
    width: 100%;
    background: #ffffff;
}

.content__header {
    display: flex;
    justify-content: space-between;
}

.circles {
    margin-top: 45px;
}

.main_circle {
    width: 41px;
    height: 41px;
    position: relative;
}
    
.green_circle {
    width: 41px;
    height: 41px;
    position: absolute;
}
        
.orange_circle {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 22%;
    left: 22%;
}

.navigation__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 663px;
    height: 60px;
    margin-right: 5%;
    margin-top: 35px;

    @media (max-width: 1400px) {
        & {
            margin-right: 2%;
        }
    }

    @media (max-width: 1200px) {
        & {
            margin-right: 0%;
        }
    }
}

.navigation_links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    
    .nav_link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #B8BECD;
        text-decoration: none;
        transition: transform 0.4s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }
}

.main_link {
    color: #202336;
    font-weight: 500;
    text-decoration: none;
}
    
.navigation__buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.entry_link {
    margin-left: 8%;
}

.entry_button {
    width: 132px;
    height: 44px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;  
    transition: background 0.2s linear;

    p {
        font-weight: 500;
        font-size: 15px;             
        color: #FB8F1D;        
    }
            
    &:hover {
        background: rgb(254, 254, 254);
    }
}
    
.registration_link {
    margin-right: 6%;
}

.registration_button {
    width: 132px;
    height: 44px;
    background: #FB8F1D;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s linear;

    p {
        font-weight: 500;
        font-size: 15px;       
        color: #ffffff;
    }

    &:hover {
        background: #ED760E;
    }
}

/*!--Шапка сайта--end--!*/


/*!--Секция 1--start--!*/

.section_1 {
    width: 100%;
    background: #ffffff;
    margin-top: 72px;
    position: relative;
}

.decoration__section_1 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 1;

    .circ_1 {
        @include iconCirc(26px, 26px);
        margin-left: 80 / 1600 * 100%;
        margin-top: 300px;

        @media (max-width: 1200px) {
            & {
                margin-top: 320px;
            }
        }
    }

    .plus {
        @include iconPlus();
        margin-left: 551 / 1600 * 100%;
        margin-top: 20px;
    }

    .circ_2 {
        @include iconCirc();
        margin-left: 55 / 1600 * 100%;
        margin-top: 570px;

        @media (max-width: 1200px) {
            & {
                margin-top: 450px;
            }
        }
    }
}

.content__section_1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.location__block {
    width: 471px;

    @media (max-width: 1200px) {
        & {
            width: 440px;
        }
    }
}

.title_finder {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
    margin-top: 74px;

    @media (max-width: 1200px) {
        & {
            margin-top: 25px;
        }
    }
}

.underline_finder {
    margin-top: 20px;
    width: 32px;
    height: 2px;
    background: #202336;    
}

.selects__top {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        & {
           margin-top: 30px;
        }
    }
}

.selects__bottom {
    margin-top: 35px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        & {
           margin-bottom: 35px;
        }
    }
}

.dropdown {
                    
    button {
        width: 220px;
        height: 52px;
        border: 0.8px solid #AFB0B9;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15%;
        padding-right: 15%;
        transition: background 0.2s linear;

        &:hover {
            background: #E5E4E2;
            border: 0.8px solid #AFB0B9;
        }

        @media (max-width: 1200px) {
            & {
               width: 200px;
               height: 47px;
            }
        }

        h5 {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 32px;
            display: flex;
            align-items: center;
            color: #4A4C53;            
        }
    }
}

.dropdown-menu {
    width: 220px;

    @media (max-width: 1200px) {
        & {
           width: 200px;
        }
    }
}

.button_explore {
    width: 180px;
    height: 52px;
    background: #FB8F1D;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;  
    transition: background 0.3s linear;

    &:hover {
        background: #ED760E;
    }

    @media (max-width: 1200px) {
        & {
           width: 160px;
           height: 47px;
        }
    }

    p {
        font-weight: 500;
        font-size: 15px;      
        color: #ffffff;
    }
}

.image__block_1 {
    width: 687 / 1354 * 100%;
}

/*!--Секция 1--end--!*/


/*!--Секция 2--start--!*/

.section_2 {
    width: 100%;
    background: #ffffff;
    margin-top: 270px;
    position: relative;

    @media (max-width: 1200px) {
        margin-top: 150px;
    }
}

.decoration__section_2 {
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 1;

    .plus {
        @include iconPlus();
        margin-left: 826 / 1600 * 100%;
    }

    .circ {
        @include iconCirc();
        margin-left: 380 / 1600 * 100%;
        margin-top: 310px;
    }
}

.content__section_2 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    position: relative;
    z-index: 2;
}

.picture__section_2 {
    width: 659 / 1354 * 100%;
}

.text__section_2 {
    width: 481px;
    margin-top: 90px;

    @media (max-width: 1200px) {
        width: 441px;
        margin-top: 30px;
    }

    div {
        @include textInfromation();        
    }

    .button_learn {
        @include buttonInformation();
    }
}

/*!--Секция 2--end--!*/


/*!--Секция 3--start--!*/

.section_3 {
    width: 100%;
    background: #ffffff;
    margin-top: 260px;
    position: relative;

    @media (max-width: 1200px) {
        margin-top: 200px;
    }
}

.decoration__section_3 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 1;

    .plus {
        @include iconPlus();
        margin-left: 121 / 1600 * 100%;
        margin-top: 330px
    }

    .circ_1 {
        @include iconCirc();
        margin-left: 600 / 1600 * 100%;
        margin-top: 510px;

        @media (max-width: 1200px) {
            margin-top: 450px;
        }
    }

    .circ_2 {
        @include iconCirc();
        margin-left: 360 / 1600 * 100%;

        @media (max-width: 1200px) {
            margin-top: 40px;
        }
    }
}

.content__section_3 {
    padding-top: 45px;
    position: relative;
    z-index: 2;
}

.title__section_3 {
    display: flex;
    justify-content: space-between;

    h2 {
        margin-left: 100px;

        @media (max-width: 1400px) {
            margin-left: 50px;
        }

        @media (max-width: 1200px) {
            margin-left: 0px;
        }
    }

    a {
        @include link();

        @media (max-width: 1400px) {
            margin-right: 50px;
        }

        @media (max-width: 1200px) {
            margin-right: 0px;
        }
    }
}

.destination_block {
    margin: 50px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width: 1400px) {
        margin: 50px 50px 0px 50px;
    }

    @media (max-width: 1200px) {
        margin: 50px 0px 0px 0px;
    }
}

.picture_destionation {
    width: 261px;
    height: 332px;
    border-radius: 8px;
    overflow: hidden;

    @media (max-width: 1400px) {
        width: 241px;
        height: 332 * 241 / 261;
    }

    @media (max-width: 1200px) {
        width: 221px;
        height: 332 * 221 / 261;
    }

    img {
        width: 100%;
        height: 100%;
        background: #C4C4C4;
        transition: transform 0.3s ease-in-out;
        border-radius: 8px;
        overflow: hidden;
    }

    &:hover {
        img {
            transform: scale(105%);
        }
    }
}

.title_destination {
    width: 120px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 0px 6px 0px 0px;
    position: absolute;
    top: 83%;

    @media (max-width: 1400px) {
        top: 84%;
    }

    @media (max-width: 1200px) {
        top: 84%;
        width: 110px;
    }

    h3 {
        font-weight: 600;
        font-size: 18px;
        color: #042521;
        padding-top: 11px;
    }

    h4 {
        font-weight: 500;
        font-size: 15px;
        color: #80918E;
    }
}

/*!--Секция 3--end--!*/


/*!--Секция 4--start--!*/

.section_4 {
    width: 100%;
    background: #ffffff;
    margin-top: 170px;
    position: relative;
}

.decoration__section_4 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 1;

    .circ {
        @include iconCirc();
        margin-left: 285 / 1600 * 100%;
        margin-top: 85px;

        @media (max-width: 1200px) {
            margin-top: 30px;
        }
    }

    .plus_1 {
        @include iconPlus();
        transform: rotate(20.42deg);
        margin-left: 351 / 1600 * 100%;
        margin-top: 420px;

        @media (max-width: 1200px) {
            margin-top: 330px;
        }
    }

    .plus_2 {
        @include iconPlus();
        margin-left: 745 / 1600 * 100%;
        margin-top: 37px;
    }
}

.content__section_4 {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.text__section_4 {
    width: 481px;
    margin-top: 152px;

    @media (max-width: 1400px) {
        margin-top: 100px;
    }

    @media (max-width: 1200px) {
        margin-top: 50px;
    }

    h2 {
        width: 441px;
    }

    div {
        @include textInfromation();
        width: 450px;   
    }

    .button_download {
        @include buttonInformation();
    }
}

.picture__section_4 {
    width: 599 / 1354 * 100%;
    margin-right: 76px;
}

/*!--Секция 4--end--!*/


/*!--Секция 5--start--!*/

.section_5 {
    width: 100%;
    background: #ffffff;
    margin-top: 250px;
    position: relative;

    @media (max-width: 1200px) {
        margin-top: 200px;
    }
}

.decoration__section_5 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 1;
    
    .circ {
        @include iconCirc(22px, 22px);
        margin-left: 96 / 1600 * 100%;
        margin-top: 310px;

        @media (max-width: 1400px) {
            margin-top: 260px;
        }

        @media (max-width: 1200px) {
            margin-top: 200px;
        }
    }
}

.content__section_5 {
    position: relative;
    z-index: 2;

    h2 {
        margin-bottom: 60px;

        @media (max-width: 1200px) {
            margin-bottom: 0px;
        }
    }
}

.swiper-slide {
    display: flex;
    justify-content: space-between;
}

.content_slide {
    width: 450px;
    margin-top: 150px;

    @media (max-width: 1400px) {
        margin-top: 100px;
    }
}

.rating {
    display: flex;
    justify-content: space-between;
    width: 190px;

    .star {
        background-image: url(/public/icons/star.svg);
        width: 25px;
        height: 24px;
    }
}

.text_slide {
    font-weight: 400;
    font-size: 24px;
    margin-top: 30px;    
}

.creator {
    margin-top: 40px;

    .name {
        font-weight: 700;
        font-size: 22px;        
    }

    .status {
        font-weight: 400;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.85);
    }
}

.picture_slide {
    width: 384px;
    height: 491px;
    position: relative;
    margin-right: 15px;
    // margin-right: 200 / 1354 * 100%;

    @media (max-width: 1400px) {
        width: 354px;
        height: 354 * 491 / 384;
        margin-right: 50px;
    }

    @media (max-width: 1200px) {
        margin-right: 0px;
    }
    
    img {
        width: 381px;
        background: #C4C4C4;
        border-radius: 14px;
        position: absolute;

        @media (max-width: 1400px) {
            width: 351px;
        }
    }

    .plus {
        top: 95.4%;
        left: -12px;
        @include iconPlus(32px, 32px);
        position: absolute;

        @media (max-width: 1400px) {
            top: 88%;
        }
    }

    .circ {
        top: -20px;
        left: 93%;
        @include iconCirc(42px, 42px);
        position: absolute;
        z-index: -1;

        @media (max-width: 1400px) {
            left: 92%;
        }

        @media (max-width: 1200px) {
            left: 88%;
        }
    }

    .navigation_slider {
        top: 87%;
        left: 65%;
        width: 132px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 16px 0px 0px 0px;
        position: absolute;

        @media (max-width: 1400px) {
            top: 80%;
        }
    }
}

.swiper {
    width: 1169px;
    height: 518px;
    margin-right: 200px;

    @media (max-width: 1400px) {
        width: 1100px;
    }

    @media (max-width: 1200px) {
        width: 900px;
    }
}

.swiper-wrapper {
    margin-top: 20px;
}

.swiper-button-prev {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    top: 40px;
}

.swiper-button-next {
    width: 40px;
    height: 40px;
    top: 40px;
}

/*!--Секция 5--end--!*/


/*!--Секция 6--start--!*/

.section_6 {
    width: 100%;
    background-color: #ffffff;
    margin-top: 210px;
    position: relative;

    @media (max-width: 1200px) {
        margin-top: 170px;
    }
}

.decoration__section_6 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 1;

    .circ_1 {
        @include iconCirc();
        margin-left: 143 / 1600 * 100%;
        margin-top: 420px;

        @media (max-width: 1200px) {
            margin-top: 445px;
        }
    }

    .plus {
        @include iconPlus();
        margin-left: 480 / 1600 * 100%;
    }

    .circ_2 {
        @include iconCirc();
        margin-left: 313 / 1600 * 100%;
        margin-top: 600px;
    }
}

.content__section_6 {
    padding-top: 35px;
    position: relative;
    z-index: 2;
}

.title__section_6 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    h2 {
        margin-left: 100px;

        @media (max-width: 1400px) {
            margin-left: 50px;
        }

        @media (max-width: 1200px) {
            margin-left: 0px;
        }
    }

    a {
        @include link();

        @media (max-width: 1400px) {
            margin-right: 50px;
        }

        @media (max-width: 1200px) {
            margin-right: 0px;
        }
    }
}

.stories_block {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;

    @media (max-width: 1400px) {
        margin: 0px 50px;
    }

    @media (max-width: 1200px) {
        margin: 0px 0px;
    }
}

.story {
    width: 266px;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
        background: rgb(245, 245, 245);

        img {
            transform: scale(105%);
        }
    }

    @media (max-width: 1400px) {
        width: 246px;
    }

    @media (max-width: 1200px) {
        width: 226px;
    }
}

.picture_stories {
    width: 266px;
    height: 231px;
    margin-bottom: 13px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    @media (max-width: 1400px) {
        width: 241px;
        height: 231 * 241 / 261;
    }

    @media (max-width: 1200px) {
        width: 221px;
        height: 221 * 231 / 261;
    }

    img {
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in-out;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
    }
}

.text_story {
    h4 {
        font-weight: 700;
        font-size: 19px;
        color: #000;
        width: 95%;
    }

    div {
        margin-top: 13px;
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 15px;
        color: #7D7987;
        width: 95%;
        
        @media (max-width: 1200px) {
            margin-bottom: 5px;
        }
    }

    a {
        width: 50px;
        font-weight: 600;
        font-size: 15px;
        color: #FB8F1D;
        transition: color 0.3s linear;

        &:hover {
            color: #042521;
        }
    }
}

/*!--Секция 6--end--!*/


/*!--Подвал сайта--start--!*/

.site__footer {
    width: 100%;
    background: #F9F9FB;
    margin-top: 200px;
}

.content__footer {
    padding-top: 80px;
    padding-left: 50px;
    font-family: "Mulish" sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #848484;
}

nav {
    a {
        transition: color 0.3s ease;

        &:hover {
            color: #000;
        }
    }
}

.text__footer {
    display: flex;
}

.finally {
    width: 391px;

    .circles {
        margin-top: 0px;
    }

    .main_circle {
        width: 44px;
        height: 44px;
        position: relative;
    }
        
    .green_circle {
        width: 44px;
        height: 44px;
        position: absolute;
    }
            
    .orange_circle {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 22%;
        left: 22%;
    }
}

.text-finally {
    width: 80%;
    padding-top: 25px;
    padding-bottom: 55px;

    @media (max-width: 1200px) {
        padding-bottom: 20px;
    }
}

.title__footer {
    font-weight: 600;
    font-size: 19px;
    line-height: 60px;
    color: #000;    
}

.destinations__links {
    width: 115px;
    margin-left: 108 / 1600 * 100%;

    nav {
        margin-bottom: 8px;
    }
}

.shop__links {
    width: 180px;
    margin-left: 158 / 1600 * 100%;

    @media (max-width: 1200px) {
        width: 200px;
    }

    nav {
        margin-bottom: 8px;
    }
}

.interests__links {
    width: 180px;
    margin-left: 180 / 1600 * 100%;

    @media (max-width: 1200px) {
        width: 220px;
        margin-left: 140 / 1600 * 100%;
    }

    nav {
        margin-bottom: 8px;
    }
}

.underline-footer {
    border-top: 1px solid #C4C4C4;
    margin-top: 80px;
    margin-bottom: 20px;
}

.social__links {
    width: 250px;
    margin: 0px auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-3px);
        }
    }
}

.twiter {
    background-image: url(/public/icons/twiter.svg);
    width: 25px;
    height: 20px;
}

.facebook {
    background-image: url(/public/icons/facebook.svg);
    width: 10px;
    height: 22px;
}

.instagram {
    background-image: url(/public/icons/instagram.svg);
    width: 22px;
    height: 22px;
}

.index {
    background-image: url(/public/icons/index.svg);
    width: 23px;
    height: 22px;
}

.youtube {
    background-image: url(/public/icons/youtube.svg);
    width: 27px;
    height: 19px;
}

/*!--Подвал сайта--end--!*/